html,
body,
#root {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  background: #FAFAFA;
}

*:focus {
  outline: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
button {
  cursor: pointer;
}